<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EA POC</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
  </head>
<body>

    <div class="container">
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <a class="navbar-brand" href="{{ url_for('technology_stack') }}">Services</a>
        </nav>
    </div>
    
    {% block content %}

    {% endblock %}
</body>
</html>